/* ==========================================================================
    Few points to remeber for every CSS property
    +++++++++++++++++++++++++++++++++++++++++++++++
    • Default values for different elements
    • Overriding & different values that can be given
    • Inheritence
    • Can they be applied to all elements
    • Can they be animated
   ========================================================================== */
/*

List related style properties
+++++++++++++++++++++++++++++++++++++++++++

~  list-style-type: none
                    disc | circle | square
                    decimal | decimal-leading-zero | lower-roman | upper-roman
                    lower-alpha | upper-alpha
                    kannada | tamil | devanagari | malayalam
    ^ default value for ul li is disc
    ^ default value for ol li is decimal
    ^ This property gets inherited
    ^ This property can be applied to list elements
    ^ Can't animate

~  list-style-position: outside | inside
    ^ default value for outside
    ^ This property gets inherited
    ^ This property can be applied to list elements
    ^ Can't animate

~  list-style-image: none | url()
    ^ default value for none
    ^ This property gets inherited
    ^ This property can be applied to list elements
    ^ Can't animate


  counter-increment
  counter-reset

auto;
inherit;

List related important links
+++++++++++++++++++++++++++++++++++++++++++

https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Lists_and_Counters

*/

/* ==========================================================================
   Demo of List related properties
   ========================================================================== */
