/* ==========================================================================
    Few points to remeber for every CSS property
    +++++++++++++++++++++++++++++++++++++++++++++++
    • Default values for different elements
    • Overriding & different values that can be given
    • Inheritence
    • Can they be applied to all elements
    • Can they be animated
   ========================================================================== */
/*

Background related style properties
+++++++++++++++++++++++++++++++++++++++++++

~  background-color -
    ^ default value transparent
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements
    ^ You can animate
~  background-image - url()
    ^ default value none
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements
    ^ You can animate

~  background-repeat: repeat | no-repeat | repeat-x | repeat-y
    ^ default value is repeat
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements
    ^ You can't animate

~  background-attachment- scroll | fixed
    ^ default value is scroll
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements
    ^ You can't animate

~  background-position
    values are specified in key words as x & y codordinates
      for x - left center right
      for y - top center bottom
      you can also specify as length

    ^ default value is left top - 0 0
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements
    ^ You can't animate

background [color image repeat attachment position]

~  background-size – auto | contain | cover | -length-
    ^ default value is auto
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements
    ^ You can't animate




Sprites - 
background-origin – border-box, padding-box, content-box
background-clip – 
multiple backgrounds – CSS3
Gradient Backgrounds – CSS3



auto;
inherit;

Background related important links
+++++++++++++++++++++++++++++++++++++++++++

https://developer.mozilla.org/en/docs/Web/CSS/background-color
*/

/* ==========================================================================
   Demo of Background related properties
   ========================================================================== */


   body{
       background-color: aliceblue;
   }

   .one,
   .two{
       border: 1px solid #000;
       background-color: aliceblue;

   }
   .two{
       position: relative;
       top: -10px;
       background-color: rgba(255, 0, 100, .9);

   }

.dabba{
    min-height: 300px;
    border: 20px solid #000;
    margin-bottom: 30px;
}
.bgi-demo1{
    background-color: #8873f6;
    background-image: url('../img/floral-no-transparency.png');
}
.bgi-demo2{
    background-color: #8873f6;
    background-image: url('../img/floral-transparent.png');
}
.bgr-demo1{
    background-color: #0d2b6a;
    background-image: url('../img/floral-transparent.png');
    background-repeat: repeat-y;
}
.bgr-demo2{
    background-color: #0d2b6a;
    background-image: url('../img/floral-transparent.png');
    background-repeat: repeat-x;
}
.bgr-demo3{
    background-color: #0d2b6a;
    background-image: url('../img/floral-transparent.png');
    background-repeat: no-repeat;
}


.bgp-demo{
    background-color: #0f0;
    background-image: url('../img/floral-no-transparency.png');
    background-repeat: no-repeat;
    border-color: rgba(0,0,0,.5);
}
.bgp-demo-1{ background-position: right top;}
.bgp-demo-2{ background-position: right bottom;}
.bgp-demo-3{ background-position: center center;}

.bgp-demo-4{ background-position: 50% 100%;}
.bgp-demo-5{ background-position: 50%;}
.bgp-demo-6{ background-position: 100px 100px;}
.bgp-demo-7{ background-position: 0 0;}
.bgp-demo-8{ 
    background-position: -50px -50px;
    background-repeat: repeat;
}
.bgp-demo-9{ 
    background-position: 0 0;
    background-repeat: repeat;
}
.bgp-demo-10{ 
    background-position: -50px -50px;
}

