/* ==========================================================================
    Few points to remeber for every CSS property
    +++++++++++++++++++++++++++++++++++++++++++++++
    • Default values for different elements
    • Overriding & different values that can be given
    • Inheritence
    • Can they be applied to all elements
    • Can they be animated
   ========================================================================== */
/*

Border related style properties
+++++++++++++++++++++++++++++++++++++++++++



~  border-width -
    ^ default value 3px - normal
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements
    ^ You can animate

~  border-style: none solid dotted dashed 
                  double ridge groove inset outset
    ^ default value none
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements
    ^ You can animate

~  border-color: 
    ^ default value is color of text
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements
    ^ You can animate

border-top-style: ;
border-top-width: ;
border-top-color: ;

border-right-style: ;
border-right-width: ;
border-right-color: ;

border-bottom-style: ;
border-bottom-width: ;
border-bottom-color: ;

border-left-style: ;
border-left-width: ;
border-left-color: ;

Shorthand property
border-top: [border-top-style border-top-width border-top-color]
border-right: [border-right-style border-right-width border-right-color]
border-bottom: [border-bottom-style border-bottom-width border-bottom-color]
border-left: [border-left-style border-left-width border-left-color]


Shorthand property
border: [border-style border-width border-color]



~  border-radius – length or percentage-
    ^ default value is auto
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements
    ^ You can animate

border-image:

border-collapse
border-spacing
empty-cells – show | hide




auto;
inherit;

Border related important links
+++++++++++++++++++++++++++++++++++++++++++


https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Background_and_Borders/Border-image_generator


*/

/* ==========================================================================
   Demo of Border related properties
   ========================================================================== */
